<!DOCTYPE html>
<html>
    <head>
        <meta name="layout" content="main" />
        <g:set var="entityName" value="${message(code: 'user.label', default: 'User')}" />
        <title><g:message code="default.create.label" args="[entityName]" /></title>
    </head>
    <body>
        <a href="#create-user" class="skip" tabindex="-1"><g:message code="default.link.skip.label" default="Skip to content&hellip;"/></a>
        <div class="nav" role="navigation">
            <ul>
                <li><a class="home" href="${createLink(uri: '/')}"><g:message code="default.home.label"/></a></li>
                <li><g:link class="list" action="index"><g:message code="default.list.label" args="[entityName]" /></g:link></li>
            </ul>
        </div>
        <div id="create-user" class="content scaffold-create" role="main">
            <h1><g:message code="default.create.label" args="[entityName]" /></h1>
            <g:if test="${flash.message}">
            <div class="message" role="status">${flash.message}</div>
            </g:if>
            <g:hasErrors bean="${this.user}">
            <ul class="errors" role="alert">
                <g:eachError bean="${this.user}" var="error">
                <li <g:if test="${error in org.springframework.validation.FieldError}">data-field-id="${error.field}"</g:if>><g:message error="${error}"/></li>
                </g:eachError>
            </ul>
            </g:hasErrors>
            <g:form url="[action:'save',controller:'user']" method="POST">
                <fieldset class="form">
                        <g:select from="${tp1.Role.list()}"
                                  name="role"
                                  optionKey="id" optionValue="authority"/>

                        <div class="form-group required">
                            <label for="username">Username
                                <span class="required-indicator">*</span>
                            </label><input class="form-control" type="text" name="username" value="" required=""
                                           id="username">
                        </div>

                        <div class="form-group required">
                            <label for="password">Password
                                <span class="required-indicator">*</span>
                            </label><input class="form-control" type="password" name="password" required="" value=""
                                           id="password">
                        </div>
                        <fieldset class="buttons">
                            <g:submitButton name="create" class="save" value="${message(code: 'default.button.create.label', default: 'Create')}" />
                        </fieldset>
                </fieldset>
            </g:form>
        </div>
    </body>
</html>
